<h1><%= @city.name %></h1>

<form action="/trains" method="post">
  <label for="train_id">Select a Train</label>
  <select id='train_id' name='train_id' type='text'>
    <% @trains.each() do |train| %>
      <option value="<%= train.id()%>"> <%= train.name() %> </option>
    <% end %>
  </select>
  <button type="submit">Add Train</button>
</form>

<p>Train List</p>

<% if @trains.any?() %>
<p>Click on a train to see its trains:</p>
  <ul>
    <% @trains.each do |train| %>
    <li><a href="/trains/<%= train.id() %>"><%= train.name() %> Departure Time: </a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no trains yet!</p>
<% end %>

<p><a href="/">Homepage</a></p>
